<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/vendor/animate/animate.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-pagination.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Admin Page</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/images/favicon.png" alt="">
            </div>
            <a href="/"><span class="logo_name">BookLand</span></a>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin/statistic">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Statistic</span>
                    </a></li>
                <li><a href="/admin/product">
                        {{!-- <i class="uil uil-files-landscapes"></i> --}}
                        <span class="link-name">Product</span>
                    </a></li>
                <li><a href="/admin/category">
                        {{!-- <i class="uil uil-chart"></i> --}}
                        <span class="link-name">Category</span>
                    </a></li>
                <li><a href="/admin/genre">
                        {{!-- <i class="uil uil-thumbs-up"></i> --}}
                        <span class="link-name">Genre</span>
                    </a></li>
                <li><a href="/admin/author">
                        {{!-- <i class="uil uil-comments"></i> --}}
                        <span class="link-name">Author</span>
                    </a></li>
                <li><a href="/admin/publish">
                        {{!-- <i class="uil uil-share"></i> --}}
                        <span class="link-name">Publish</span>
                    </a></li>
                <li><a href="/admin/order">
                        {{!-- <i class="uil uil-share"></i> --}}
                        <span class="link-name">Order</span>
                    </a></li>
                <li><a href="/admin/input-order">
                        {{!-- <i class="uil uil-share"></i> --}}
                        <span class="link-name">Order Input</span>
                    </a></li>
                <li><a href="/admin/list-input-order">
                        {{!-- <i class="uil uil-share"></i> --}}
                        <span class="link-name">List Input Order</span>
                    </a></li>
                {{#iff check.role '==' 3}}
                <li><a href="/admin/account">
                        {{!-- <i class="uil uil-share"></i> --}}
                        <span class="link-name">Account</span>
                    </a></li>
                {{/iff}}
            </ul>

            <ul class="logout-mode">
                <li><form action="/auth/logout" method="post">
                    <button type="submit" style="    border: none;background: var(--panel-color); color:var(--text-color) !important;width: 100%;text-align: left;"><a
                            href=""><i class="uil uil-signout"></i>
                            <span style="color:var(--text-color)">Log Out</span></a></button>
                </form></li>
                

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}
    <script src="/js/jquery.min.js"></script><!-- JQUERY MIN JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script src="/js/pagination.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP MIN JS -->
    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT MIN JS -->
    <script src="/js/script.js"></script><!-- CUSTOM JS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>