<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from bookland.dexignzone.com/xhtml/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Sep 2022 09:25:53 GMT -->
<head>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="DexignZone" />
	<meta name="robots" content="" />
	<meta name="description" content="Bookland-Book Store Ecommerce Website"/>
	<meta property="og:title" content="Bookland-Book Store Ecommerce Website"/>
	<meta property="og:description" content="Bookland-Book Store Ecommerce Website"/>
	<meta property="og:image" content="../../makaanlelo.com/tf_products_007/bookland/xhtml/social-image.html"/>
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="/images/favicon.png"/>
	
	<!-- PAGE TITLE HERE -->
	<title>Bookland</title>
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="/icons/themify/themify-icons.css">
	<link rel="stylesheet"  href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet"  href="/icons/fontawesome/css/all.min.css">
	<link rel="stylesheet"  href="/vendor/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/nouislider/nouislider.min.css">
	<link rel="stylesheet"  href="/vendor/animate/animate.css">
	<link rel="stylesheet"  href="/css/style-pagination.css">
	<link rel="stylesheet"  href="/css/style.css">
	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

</head>	
<body>

<div class="page-wraper">		
	<!-- Header -->
	{{>header}}

	<!-- Header End -->
	{{{body}}}
	
	<!-- Footer -->
	{{>footer}}
	<!-- Footer End -->
	
	<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->

<script src="/js/jquery.min.js" ></script><!-- JQUERY MIN JS -->
<script src="/js/data.json"></script>
<script src="/vendor/wow/wow.min.js"></script><!-- WOW JS -->
<script src="/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN JS -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP MIN JS -->
<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELECT MIN JS -->
<script src="/vendor/swiper/swiper-bundle.min.js"></script><!-- SWIPER JS -->
<script src="/vendor/countdown/counter.js"></script><!-- COUNTER JS -->
<script src="/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
<script src="/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/vendor/wnumb/wNumb.js"></script><!-- WNUMB -->
<script src="/vendor/nouislider/nouislider.min.js"></script><!-- NOUSLIDER MIN JS-->
<script src="/js/pagination.js" ></script>
<script src="/js/api.js"></script>
<script src="/js/dz.carousel.js"></script><!-- DZ CAROUSEL JS -->
<script src="/js/dz.ajax.js"></script><!-- AJAX -->
<script src="/js/script.js"></script><!-- CUSTOM JS -->
<script src="/js/custom.js"></script><!-- CUSTOM JS -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>

<!-- Mirrored from bookland.dexignzone.com/xhtml/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Sep 2022 09:26:28 GMT -->
</html>