<!-- Footer -->
<footer class="site-footer style-1">
	<!-- Footer Category -->
	{{!-- <div class="footer-category">
		<div class="container">
			<div class="category-toggle">
				<a href="javascript:void(0);" class="toggle-btn">Books categories</a>
				<div class="toggle-items row">
					<div class="footer-col-book">
						<ul>
							<li><a href="books-grid-view.html">Architecture</a></li>
							<li><a href="books-grid-view.html">Art</a></li>
							<li><a href="books-grid-view.html">Action</a></li>
							<li><a href="books-grid-view.html">Biography</a></li>
							<li><a href="books-grid-view.html">Body, Mind & Spirit</a></li>
							<li><a href="books-grid-view.html">Business & Economics</a></li>
							<li><a href="books-grid-view.html">Children Fiction</a></li>
							<li><a href="books-grid-view.html">Children Non-Fiction</a></li>
							<li><a href="books-grid-view.html">Comics & Graphics</a></li>
							<li><a href="books-grid-view.html">Cooking</a></li>
							<li><a href="books-grid-view.html">Crafts & Hobbies</a></li>
							<li><a href="books-grid-view.html">Design</a></li>
							<li><a href="books-grid-view.html">Drama</a></li>
							<li><a href="books-grid-view.html">Education</a></li>
							<li><a href="books-grid-view.html">Family & Relationships</a></li>
							<li><a href="books-grid-view.html">Fiction</a></li>
							<li><a href="books-grid-view.html">Foreign Language</a></li>
							<li><a href="books-grid-view.html">Games</a></li>
							<li><a href="books-grid-view.html">Gardening</a></li>
							<li><a href="books-grid-view.html">Health & Fitness</a></li>
							<li><a href="books-grid-view.html">History</a></li>
							<li><a href="books-grid-view.html">House & Home</a></li>
							<li><a href="books-grid-view.html">Humor</a></li>
							<li><a href="books-grid-view.html">Literary Collections</a></li>
							<li><a href="books-grid-view.html">Mathematics</a></li>
							<li><a href="books-grid-view.html">Medical</a></li>
							<li><a href="books-grid-view.html">Nature</a></li>
							<li><a href="books-grid-view.html">Performing Arts</a></li>
							<li><a href="books-grid-view.html">Pets</a></li>
							<li><a href="books-grid-view.html">Show others</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<!-- Footer Category End -->

	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
					<div class="widget widget_about">
						<div class="footer-logo logo-white">
							<a href="/"><img src="images/logo.png" alt=""></a>
						</div>
						<p class="text">Bookland is a Book Store Ecommerce Website</p>
						<div class="dz-social-icon style-1">
							<ul>
								<li><a href="https://www.facebook.com/profile.php?id=100008575697881" target="_blank"><i
											class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="https://www.instagram.com/anhphuongzzzzz/" target="_blank"><i
											class="fa-brands fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.2s">
					<h5 class="footer-title">Our Link</h5>
					<div class="widget widget_services">
						<ul>
						<li><a href="/about">About us</a></li>
						<li><a href="/contact">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
					<div class="widget widget_services">
						<h5 class="footer-title">Account</h5>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/profile/address-book">Address Book</a></li>
							<li><a href="/profile/change-password">Password</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4 wow fadeInUp" data-wow-delay="0.4s">
					<div class="widget widget_services">
						<h5 class="footer-title">Resources</h5>
						<ul>
							<li><a href="/user/shop">Shop</a></li>
							<li><a href="/shopping-cart">Shop Cart</a></li>
							<li><a href="/auth/login">Login</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
					<div class="widget widget_getintuch">
						<h5 class="footer-title">Get in Touch With Us</h5>
						<ul>
							<li>
								<i class="flaticon-placeholder"></i>
								<span>University of Transport and Communications</span>
							</li>
							<li>
								<i class="flaticon-phone"></i>
								<span>+0773313491<br>
									+123 345123 556</span>
							</li>
							<li>
								<i class="flaticon-email"></i>
								<span>leanhphuong405@gmail.com<br>
									info@bookland.id</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top End -->

	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row fb-inner">
				<div class="col-lg-6 col-md-12 text-start">
					<p class="copyright-text">Bookland Book Store Ecommerce Website - © 2022 All Rights Reserved</p>
				</div>
				<div class="col-lg-6 col-md-12 text-end">
					{{!-- <p>Made with <span class="heart"></span> by <a href="https://dexignzone.com/">DexignZone</a>
					</p> --}}
					<p>Made with <span class="heart"></span> by LeAnhPhuong</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Bottom End -->

</footer>
<!-- Footer End -->